<h2>About</h2>

<p>Why yet another open-source web interface for Unix-like embedded systems?</p>

<p>Mostly because it really targets to   
hardware and services which are more complex and
powerful than what you may find in an ADSL router &mdash; but still without the 
requirements of a full-stack server.</p>

<p>Example hardware platforms are the 
<a href="http://www.via.com.tw/en/products/embedded/ProductDetail.jsp?id=570">Via NAB7500</a>, the
<a href="http://www.acrosser.com/products/Micro-box_list_classid_64.html">Acrosser Microboxes</a> 
or &mdash; in the lower end &mdash; <a href="http://www.soekris.com/">Soekris</a> and <a href="http://www.pcengines.ch/alix.htm">Alix</a> boards.

<p>Among its mid-term goals we mention: management of
 a captive portal <em>and</em> a RADIUS server on the same device
 for network accounting; scheduled, nightly backups of workstations via 
 WakeUp-on-LAN, PXE
and optional external storage; web content filtering via DansGuardian, 
ClamAV antivirus and transparent proxying. </p>

<p>And, yes, there's the firewall 
too :-)</p>

<p><%= OnBoard::LONGNAME %> is sponsored by VEMAR s.a.s., Paterno (PZ), Italy
and is in its early stage of development.</p>
