<h2>Contribute</h2>

<p>You may fork the <a href="http://github.com/gderosa/onboard">project 
on Github</a> and send a merge request.</p>

<p>You may report bugs to the 
<a href="http://github.com/gderosa/onboard/issues">issue tracker</a>.</p>

<p>You may send patches, suggestions and questions to the 
<a href="/contact">contact address</a>.</p>
