<h2>Downloads</h2>

There is no release yet. You may get the latest development snapshot
<a href="http://github.com/gderosa/onboard/tarball/master">here</a> or clone 
our software repository via <a href="http://git-scm.com/">git</a>:

<pre class="code">git clone git://github.com/gderosa/onboard.git</pre>
