<%
  screenshots_baseuri = OnBoard::SUBURI + '/images/screenshots'
  screenshots_basedir = OnBoard::ROOTDIR + '/public/' + '/images/screenshots'
%>

<h2>Screenshots</h2>

<ul>
  <% Dir.foreach(screenshots_basedir) do |entry| %>
    <% if entry =~ /\.(png|jpe?g)$/%>
      <li><a href="<%= screenshots_baseuri + '/' + entry %>"><%= html_escape entry %></a></li>
    <% end %>
  <% end %> 
</ul>
